@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap');

:root {
  font-family: 'Outfit', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #e2e8f0;
  background-color: #0f172a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #0f172a;
}

h1, h2, h3 {
  letter-spacing: -0.03em;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}